/**
 * @author : Pasan Pahasara
 * @since : 0.1.0
 **/
.display {
    border: none;
}

.mathematicalLogics{
    height: 50px;
    width: 50px;
    background: #9354bc;
    color: #FFFFFF;
    opacity: 70%;
    border: none;
}

