/**
 * @author : Pasan Pahasara
 * @since : 0.1.0
 **/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.display {
    border: none;
}

input:focus {
    border: none;
}

.mathematicalLogics {
    height: 50px;
    width: 50px;
    background: #9354bc;
    font-family: Ubuntu, sans-serif;
    color: #FFFFFF;
    opacity: 70%;
    border: none;
}

#buttons {
    background-image: linear-gradient(to left bottom, #b2cdd6, #b5e6ff, #c9e2ff, #b3aec2, #a392ad);
}

.buttons {
    height: 50px;
    width: 50px;
    background-color: white;
    font-family: Ubuntu, sans-serif;
    padding-top: 5px;
    opacity: 70%;
    border: none;
}

.equalsButton {
    height: 230.5px;
    width: 50px;
    background: #20CEB2;
    font-family: Ubuntu, sans-serif;
    color: #FFFFFF;
    opacity: 70%;
    border: none;
}

.mathematicalLogics:hover {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    box-shadow: 1px 3px 5px 1px #000000 !important;
    color: #f0f0f0;
    font-weight: bold;
}

.buttons:hover {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    box-shadow: 1px 3px 5px 1px #736060 !important;
    font-weight: bold;
}

.equalsButton:hover {
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    box-shadow: 1px 3px 5px 1px #736060 !important;
    font-weight: bold;
}