/**
 * @author : Pasan Pahasara
 * @since : 0.1.0
 **/
.display {
    border: none;
}

input:focus{
    border: none;
}

.mathematicalLogics{
    height: 50px;
    width: 50px;
    background: #9354bc;
    color: #FFFFFF;
    opacity: 70%;
    border: none;
}

#buttons{
    background-image: linear-gradient(to left bottom, #b2cdd6, #b5e6ff, #c9e2ff, #b3aec2, #a392ad);
}

.buttons{
    height: 50px;
    width: 50px;
    background-color: white;
    opacity: 70%;
    border: none;
}

.equalsButton{
    height: 230.5px;
    width: 50px;
    background: #20CEB2;
    color: #FFFFFF;
    opacity: 70%;
    border: none;
}