/*!
 * @author : Pasan Pahasara
 * @since : 0.1.0
 **/

/**
 * introducing body section overflow hidden.
 */
body {
    overflow: hidden;
}

/**
* added background sky image.
*/
main > div:first-child {
    width: 100vw;
    height: 80vh;
    background: url("../img/sky.jpg");
    background-size: cover;
    position: relative;
}

/**
* customized section and introducing city animation.
*/
main > section:nth-child(2) {
    width: max-content;
    position: absolute;
    height: 300px;
    top: 290px;
    animation-name: cityAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/**
* introducing city and road images display type flex.
*/
main > section:nth-child(2) > div {
    display: flex;
    width: max-content;
    height: max-content;
}

/**
* customized city image height.
*/
main > section:nth-child(2) > div:nth-child(1) {
    height: 38vh;
}