/*!
 * @author : Pasan Pahasara
 * @since : 0.1.0
 **/

/**
 * introducing body section overflow hidden.
 */
body {
    overflow: hidden;
}

/**
* added background sky image.
*/
main > div:first-child {
    width: 100vw;
    height: 80vh;
    background: url("../img/sky.jpg");
    background-size: cover;
    position: relative;
}