/**
 * @author : Pasan Pahasara
 * @since : 0.1.0
 **/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/**Heading Section*/
header > section {
    position: fixed;
    /*backdrop-filter: blur(50px);*/
    /*width: 1440px*/
    width: 98.9vw;
    height: 81px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    scroll-margin-block: revert;

    background: #ECF0F3;
}

#heading1 {
    position: absolute;
    left: 120px;
    top: 15px;
    text-decoration: none;

    font-family: 'Agency FB';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    color: #000000;
}

#heading2 {
    font-family: "Agency FB";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    color: #FFA500;
}

.headingFirstShape {
    box-sizing: border-box;
    border-radius: 100px;
    position: absolute;
    width: 110px;
    height: 110px;
    left: -42px;
    top: -35px;

    background: #ECF0F3;
    border: 25px solid rgba(246, 160, 2, 0.65);
}

.headingSecondShape {
    position: absolute;
    border-radius: 100px;
    width: 133px;
    height: 133px;
    right: -58px;
    top: -58px;

    background: rgba(254, 182, 51, 0.49);
}

.menu ul {
    float: right;
    margin-right: 120px;
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 12px;
}

.menu ul li a {
    font-family: Bahnschrift;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: black;
}

.menu ul li a:hover {
    color: #FFA500;
}

.menu ul li #active {
    color: #FFA500;
}

.hover-line::after {
    content: '';
    display: block;
    width: 0%;
    height: 6px;
    background-color: #FFA500;
    border-radius: 26%;
    transition: width .3s;
}

.hover-line:hover::after {
    width: 40%;
    transition: width .3s;
}

.active-hover-line::after {
    content: '';
    display: block;
    width: 40%;
    height: 6px;
    background-color: #FFA500;
    border-radius: 26%;
    transition: width .3s;
}

/*.banner{*/
/*position: relative;*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    !*background: url("");*!*/
/*    background-size: cover;*/
/*}*/

/**Home Section*/
/*body > main:nth-child(2) > section:first-child {*/
/*    position: absolute;*/
/*    width: 1440px;*/
/*    height: 150px;*/
/*    overflow: hidden;*/
/*    left: 0px;*/
/*    top: 81px;*/

/*    background: #ECF0F3;*/
/*}*/

/*body > main:nth-child(2) > section:first-child > aside:first-child > h3:first-child {*/
/*    position: absolute;*/
/*    width: 133.81px;*/
/*    height: 68px;*/
/*    left: 173px;*/
/*    top: 181px;*/

/*    font-family: 'Poppins';*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-size: 31px;*/
/*    line-height: 46px;*/

/*    color: #FFA500;*/
/*}*/

/*body > main:nth-child(2) > section:first-child > aside:first-child > h1:nth-child(2) {*/
/*    position: absolute;*/
/*    width: 99px;*/
/*    height: 72px;*/
/*    left: 174px;*/
/*    top: 223px;*/

/*    font-family: 'Poppins';*/
/*    font-style: normal;*/
/*    font-weight: 800;*/
/*    font-size: 55px;*/
/*    line-height: 82px;*/

/*    color: #000000;*/
/*}*/

/*body > main:nth-child(2) > section:first-child > aside:first-child > h1:nth-child(2) > span {*/
/*    position: absolute;*/
/*    width: 99px;*/
/*    height: 72px;*/
/*    left: 174px;*/
/*    top: 223px;*/

/*    font-family: 'Poppins';*/
/*    font-style: normal;*/
/*    font-weight: 800;*/
/*    font-size: 55px;*/
/*    line-height: 82px;*/

/*    color: #000000;*/
/*}*/