/**
 * @author : Pasan Pahasara
 * @since : 0.1.0
 **/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Scrollbar
   ========================================================================== */

/**
 * Customized Scrollbar.
 */
::-webkit-scrollbar {
    width: 6px;
    background: #3f3838;
}

::-webkit-scrollbar-thumb {
    background: #FFA500;
}

header {
    position: fixed;
    background: #ECF0F3;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 2;
}

#heading1 {
    position: relative;
    left: 120px;
    top: 15px;
    text-decoration: none;

    font-family: 'Agency FB';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    color: #000000;
}

#heading2 {
    font-family: "Agency FB";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    color: #FFA500;
}

.headingFirstShape {
    box-sizing: border-box;
    border-radius: 100px;
    position: absolute;
    width: 110px;
    height: 110px;
    left: -42px;
    top: -37px;

    background: #ECF0F3;
    border: 25px solid rgba(246, 160, 2, 0.65);
}

.headingSecondShape {
    position: absolute;
    border-radius: 100px;
    width: 133px;
    height: 133px;
    right: -58px;
    top: -58px;

    background: rgba(254, 182, 51, 0.49);
}

.menu {
    position: absolute;
    right: 110px;
    top: 0;
}

.menu ul li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-family: Bahnschrift;
    font-size: 15px;
    font-weight: 600;
}

.menu ul li a {
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: #000000;
}

.menu ul li a:hover {
    color: #FFA500;
}

.menu ul li #active {
    color: #FFA500;
}

.hover-line::after {
    content: '';
    display: block;
    width: 0%;
    height: 6px;
    background-color: #FFA500;
    border-radius: 26%;
    transition: width .3s;
}

.hover-line:hover::after {
    width: 40%;
    transition: width .3s;
}

.active-hover-line::after {
    content: '';
    display: block;
    width: 40%;
    height: 6px;
    background-color: #FFA500;
    border-radius: 26%;
    transition: width .3s;
}

/**
* main section
*/
main {
    position: relative;
    margin-top: 73px;
}

/**
* home section
*/
main > section:nth-child(1) {
    position: relative;
    background: #ECF0F3;
    height: 774px;

}

/**
* description section
*/
main > section:nth-child(1) > aside:nth-child(1) {
    height: 433px;
    width: 582px;
    position: absolute;
    top: 130px;
    left: 173px;
    margin: auto;
}

main > section:nth-child(1) > aside:nth-child(1) > h3:first-child {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    margin-top: 0;
    margin-bottom: 0;
    color: #FFA500;
}

main > section:nth-child(1) > aside:nth-child(1) > h1:nth-child(2) {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    margin-top: 16px;
    margin-bottom: 0;
    color: #FFA500;
}

main > section:nth-child(1) > aside:nth-child(1) > h1:nth-child(2) > span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    color: #000000;
}

main > section:nth-child(1) > aside:nth-child(1) > h1:nth-child(3) {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    margin-top: 16px;
    color: #FFA500;
}

main > section:nth-child(1) > aside:nth-child(1) > h1:nth-child(3) > span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    color: #000000;
}